<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UserDao">
    <resultMap type="User" id="userResultMap" >
        <id property="userId" column="user_id"/>
        <result property="username" column="user_name"/>
        <result property="password" column="user_password"/>
        <result property="phone" column="user_phone"/>
        <result property="email" column="user_email"/>

    </resultMap>

    <!-- 目的：为DAO接口方法提供sql语句配置 -->
    <!-- 查询用户和密码进行登录 -->
    <select id="findByUsername" resultMap="userResultMap">

		select * from user where user_name = #{username}

	</select>
    <!-- 查询用户用手机号进行登录 -->
    <select id="findUserByPhone" resultMap="userResultMap">

		select * from user where user_phone = #{phone}

	</select>


        <!-- 注册用户 -->
     <insert id="addUser" parameterType="User" >

		 INSERT INTO user(user_name,user_password,user_phone,user_email) VALUE (#{username},#{password}, #{phone}, #{email})

	</insert>

    <!-- 删除用户 -->
    <delete id="deleteUser" parameterType="Integer">
        DELETE FROM user WHERE user_id=#{userId}
    </delete>

    <!-- 查询所有用户 -->
    <select id="queryAllUser" resultMap="userResultMap">
        SELECT user_id,user_name,user_phone,user_email
        FROM user
    </select>

    <!-- 查询用户 -->
    <select id="queryUser" resultMap="userResultMap">
        SELECT user_id,user_name,user_phone,user_email
        FROM user
        WHERE user_id=#{userId}
    </select>

    <!-- 修改用户 -->
    <update id="updateUser" parameterType="User">
        UPDATE user
        SET user_name = #{username},user_password = #{password},user_phone = #{phone},user_email = #{email}
        WHERE  user_id = #{userId}
    </update>

</mapper>